.App {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.warning {
  height: 0px;
  font-size: 2px;
  transition: all 2s;
}

.warning-visible {
  height: 10px;
  font-size: 22px;
  color: #d11818;
}

input {
  width: 100px;
  height: 20px;
  padding: 4px;
  font-weight: 600;
  text-align: right;
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-group {
  margin-top: 20px;
}

.button-group button {
  margin: 4px 8px;
  padding: 12px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  border: 2px solid transparent;
  background-color: rgb(14, 123, 87);
  cursor: pointer;
}

.button-group button:hover {
  opacity: 0.67;
}

.button-group .button-withdraw {
  border-color: rgb(213, 216, 31);
  background-color: rgb(213, 216, 31);
}

.button-group .button-bankrupt {
  background-color: rgb(237, 14, 66);
}

.button-already-bankrupt {
  opacity: 0.67;
}
